tris.filippo.io {
	tls bip@filippo.io
	log stdout
	proxy / https://blog.filippo.io
}

echo.filippo.io {
	tls bip@filippo.io
	log stdout
	proxy / http://{$ECHO_PORT_80_TCP_ADDR}:{$ECHO_PORT_80_TCP_PORT} {
		transparent
	}
}
